html {
    line-height: 1.0;
}

body {
    background-color: #ffffff;
    color: #e30613;
}

.h6 {
    margin: auto;
    font-size: 0.8em;
}

.neuropil_logo {
    position: absolute;
    margin: -75px;
}

.np_menu {
    margin: 0px;
    font-size: 1.1em;
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: inherit;
}

.divider {
    z-index: -2;
}

.np_node {}

.np_search {}

.feather {
    /* position: absolute; */
    margin-left: -40%;
    /* margin-top: 10px; */
}

svg {
    width: 100%;
    /* overflow: inherit; */
}

path {
    display: block;
}

.accordion-header {
    text-align: center;
}

.table td {
    padding: .2rem .1rem;
}

a {
    color: #e30613;
    background-color: #fff;
}

a:visited {
    color: #66758c;
}

a:focus,
a:hover,
a:active {
    color: #66758c;
    text-decoration: underline;
}

.btn {
    border: none;
    border-bottom: .05rem solid #66758c;
    border-top: .05rem solid #66758c;
    border-radius: 10px;
    background-color: #ffffff;
    outline-offset: 1px;
    color: rgba(227, 06, 19, 0.5);
    margin: 0em 0.5em 0em 0.5em;
}

.btn:visited {
    background-color: #ffffff;
    color: #66758c;
    opacity: 0.5;
}

.btn:focus,
.btn:hover,
.btn:active {
    border: none;
    border-bottom: .05rem solid #66758c;
    border-top: .05rem solid #66758c;
    outline: .05rem solid rgba(227, 06, 19, 1.0);
    outline-offset: 1px;
    background-color: #ffffff;
    text-decoration: none;
    color: rgba(227, 06, 19, 1.0);
}

.btn.btn-primary {
    background-color: #ffffff;
    background: #aeb0b4;
    border-color: #66758c;
    color: rgba(227, 06, 19, 0.8);
}

.btn.btn-primary:visited {
    background-color: #ffffff;
    color: #66758c;
    opacity: 0.5;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn-primary:active {
    background-color: #ffffff;
    border-left: none;
    background: #ffffff;
    border-color: #66758c;
    outline: .05rem solid rgb(123, 102, 103);
    color: rgba(227, 06, 19, 1.0);
}

.form-input {
    border: none;
    border-bottom: .05rem solid #66758c;
    border-top: .05rem solid #66758c;
    border-radius: 10px;
    outline-offset: 1px;
}

.form-input:focus {
    border-color: #66758c;
    outline: .05rem solid rgba(227, 06, 19, 1.0);
}

svg:not(:root) {
    overflow: inherit;
}

.toast {
    color: #000;
}